* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 1px 10px;
}
header button {
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 2px;
}
header img {
    height: 5vh;
    width: 10vw;
}
.background img {
    height: 50vh;
    width: 100%;
    position: relative;
}
.top {
    position: absolute;
    top: 6em;
    left: 30em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.largetxt {
    font-size: 2em;
    font-weight: bold;
}
.medtxt {
    font-size: 0.8em;
}
.smalltxt {
    font-size: 0.8em;
    margin-top: 10px;
}
.smalltxt input {
    padding: 3px 18px 3px 18px;
    background-color: black;
    color: rgba(255, 255, 255, 0.989);
}
.smalltxt button {
    background-color: red;
    color: white;
    border: none;
    font-size: 12px;
    padding: 4px 4px 4px 4px;
}
.images {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    column-gap: 8px;
    height: 40vh;
}
.images img {
    border-radius: 7px;
}
.divs {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
}
.divs div {
    background-color: rgb(39, 13, 63);
    border-radius: 10px;
    width: 240px;
    text-align: center;
}
.addpadding {
    width: 90vw;
    margin: 0 auto;
}
.divs-p1 {
    font-size: 15px;
    font-weight: bold;
}
.divs-p2 {
    font-size: 13px;
}
.ques {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3px;
}
.ques button {
    width: 90vw;
    height: 5vh;
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
}
.repeat {
    text-align: center;
}
.footergray {
    color: rgb(180, 176, 176);
    font-size: 10px;
}
.flexgray {
    display: flex;
    font-size: 12px;
    color: rgb(180, 176, 176);
    column-gap: 200px;
    justify-content: start;
}
#language {
    background-color: black;
    color: white;
    padding: 2px;
    font-size: 10px;
}
footer p {
    font-size: 12px;
    color: rgb(180, 176, 176);
}