*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   height:40px;
   margin-top: 2px;
}
.p1{
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 10px;
    
}
.p2{
    font-size: 13px;
    position: relative;
    right: 50px;
     top: 10px;
}
.parent img{
    height:45vh;
    width:100%;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    top: 80px;
    left: 140px;
    font-size: 30px;
    font-weight: bold;
}
button{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding:2px 50px 2px 50px;

}
.column{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin:0 auto;
    column-gap: 50px;
    align-content: center;
    position: relative;
    top: 1em;

}
.column img{
    height:100px
}
.heading{
    font-size: 16px;
    font-weight: 550;
}
.nonbold{
    font-size: 12px;
    color: rgb(90, 90, 90);
    position: relative;
    top:10px;
    
}
.tocenter{
    text-align: center;
}
.note{
    font-size: 10px;
    color:rgb(92, 91, 91);
    margin-left: 133px;
    margin-top:-1em;
    
}
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0.1em;
    width: 100vw;
    justify-content: space-around;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.flexx{
    display: flex;
    column-gap:5px;
    position: relative;
    top:0.3rem;
}
.foot{
    font-size: 10px;
}
.gray{
    color: rgb(80, 79, 79);
    text-align: right;
   
}
.copy{
    color: rgb(171, 168, 168);
    font-size: 10px;
}


