* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 250px;
    border: 2px solid rgb(199, 20, 20);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* align-items: center; */
    align-content: center;
    /* use align-items and gap and then use align-content then the item will come down and with given gap that makes it more responsive */
    gap: 10px;
    flex-wrap: wrap;

}

.item {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: aqua;
    margin-top: 2px;

}
#item3{
    order:1;
    /* flex-grow: ; */
}
.badadabba{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}