*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    position: fixed;
    top: 0;
    background-color: white; 
}
.navleft{
    display: flex;
    gap: 2em;
}
.navright{
    display: flex;
    gap: 2em;
   
}
.navleft img{
    width: 20px;
    height: 20px;
}
.navright img{
     width: 20px;
    height: 20px;
}
.section1 img{
    width: 100%;
    height:70vh ;
    margin-top: 3em;
}

.section2{
    text-align: center;
}
.sectionitem1{
     margin-top:1em ;
}
.sectionitem2{
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 500;

}
.sectionitem3{
    display: flex;
    justify-content:start;
    align-items: center;
    gap:200px;
    width:90%;
    height: 26vw;
    margin: 0 auto;
    margin-top:1em ;
    background-color: rgba(245, 239, 239, 0.71);

}
.box{
    width: 50%;
}
.box img{
    width: 95%;
    border-radius: 5px;
}
.box img:hover{
    transform: scale(0.9);
}
.sidee{
    text-align: center;
    font-weight: bold;
}
.sectionitem3 button{
    width: 140px;
    height: 35px;
    background-color: black;
    color: white;
    padding: 2px 5px 4px 5px ;
    border-radius: 3px;
}
.sectionitem3 button:hover{
     transform: scale(1.1);
}
.sectionitem4{
    display: flex;
    justify-content:start;
    align-items: center;
    gap:100px;
    width:90%;
    margin: 0 auto;
    margin-top:1em ;  
}
.card{
    width: 45%;
    margin-top:1em ;
    background-color: rgba(245, 239, 239, 0.71);
    border-radius: 3%;
}
.card img{
    width: 80%;
}
.card img:hover{
    transform: scale(1.1);
}
.section5{
    margin-top: 4em;
    background-color: rgb(220, 215, 215);
   
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:2em;
  
}
.box2 img{
    width: 20em;
}
.imgbox{
    width: 80%;
    background-color: white;
    text-align: center;
    margin-top: 2em;
    border-radius: 6px;
}
.imgbox img{
    width: 70%;
    margin-top: 2em;
    border-radius: 4px;
    
}
.imgbox img:hover{
    transform: scale(0.9);
}
.section6{
     margin-top: 6em;
}
.beffot img{
    width:50px;

}
.befflex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
    gap: 2em;
    text-align: center;
}
.boxback{
    background-color: black;
    color: white;
    margin-top: 4em;
    display: flex;
    justify-content: space-evenly;
}
.boxback div{
    margin-top: 4em;
}
.footerbot{
 
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    color: white;
    height:3em;
}
.footerl{
    display: flex;
    
   gap: 2em; 
}
@media screen and (max-width: 450px) {
    header{
        width: 100%;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}


}
